<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Scan</title>
    <link rel="stylesheet" href="../static/css/fullscan.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        #loading {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        .loading-line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 5px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            background-color: rgb(235, 235, 240);
            animation: loading 5s linear infinite;
        }

        @keyframes loading {
            0% {
                width: 0%;
                background-color: rgb(235, 235, 240);
            }

            25% {
                width: 25%;
                background-color: rgb(163, 228, 138);
            }

            50% {
                width: 50%;
                background-color: rgb(255, 221, 89);
            }

            100% {
                width: 100%;
                background-color: rgb(0, 123, 255);
            }
        }
    </style>
</head>

<body class="back">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><img style="width: 50px;" src="/static/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 navbar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Scanners
                        </a>
                        <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('apiendipoint')}}">Api Endpoint</a>
                            <a class="dropdown-item" href="{{url_for('openredirect')}}">Open Redirect</a>
                            <a class="dropdown-item" href="{{url_for('sql')}}">SQL Injection</a>
                            <a class="dropdown-item" href="{{url_for('tls')}}">TLS</a>
                            <a class="dropdown-item" href="{{url_for('crosssitescripting')}}">Cross Site</a>
                            <a class="dropdown-item" href="{{url_for('securityheaders')}}">Security Headers</a>
                            <a class="dropdown-item" href="{{url_for('securitymisconfig')}}">Security Misconfig</a>
                        </div>
                    </li>
                    <a class="nav-link" href="{{url_for('fullscan')}}">Full Scan</a>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('userguide') }}">How It Works</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    {% if session.get('loggedin') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('loginpage')}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('signup')}}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <form class="userprofile" action="/logout">
            <img src="/static/images/userlogo.png" alt="">
            <h3>Hi, {{username}}</h3>
            <button name="logout" type="submit">Logout</button>
            <a style="text-decoration: none;" href="{{url_for('profile')}}">
                <div class="new" style="padding: 4.5px; margin-top: 6px;">Settings</div>
            </a>
        </form>

        <div id="loading">
            <div class="loading-line"></div>
        </div>
    </nav>

    <section id="inputForm">
        <div style="text-align: center; color: white; padding: 2rem 0rem;">
            <h1>Full Scan</h1>
        </div>
        <div id="formstyle">
            <form id="scanForm" action="/fullscan" method="POST">
                <input type="url" name="url" id="url" placeholder="Enter URL" required>
                <button type="submit" id="submit">Scan</button>
            </form>
        </div>

        <div id="displayresult" {% if not result_fullscan %}style="display:none" {% endif %}>
            {% if result_fullscan %}
            <h1>Results</h1>
            <div id="result">
                <div id="result1">
                    <p><strong>URL Scanned:</strong> {{user_input}}</p>
                    <hr>
                    <p><strong>Date:</strong> {{date}}</p>
                    <hr>
                    <p><strong>SQL Injection Result:</strong> {{result_sql}}</p>
                    <hr>
                    <p><strong>Security Misconfiguration Result:</strong> {{result_securityMisconfig}}</p>
                    <hr>
                    <p><strong>Security Headers Result:</strong> {{result_securityHeaders}}</p>
                    <hr>
                    <p><strong>Open Redirects Result:</strong> {{result_OpenRedirect}}</p>
                    <hr>
                    <p><strong>Cross Site Scripting Result:</strong> {{result_crossSite}}</p>
                    <hr>
                    <p><strong>API Endpoints Result:</strong> {{result_api}}</p>
                    <hr>
                    <p><strong>TLS Result:</strong> {{result_tls}}</p>
                </div>
            </div>
            {% else %}
            <h1>No Results</h1>
            {% endif %}
        </div>

        <div id="displayresult" {% if not result_fullscan %}style="display:none" {% endif %}>
            {% if result_fullscan %}
            <h1 style="background-color: forestgreen;">Recommendation</h1>
            <div id="result">
                <div id="result1">
                    <p><strong>SQL Injection Prevention:</strong>
                        {% if 'No' in result_sql %}
                    <p>No Recommendation Required 😊👍</p>
                    {% else %}
                    <p>Recommendation: Implement parameterized queries and input validation/sanitization.</p>
                    <p>Filter and sanitize user inputs to remove or escape any potentially harmful characters.</p>
                    <p>Restrict direct access to the database and use least privilege principles to limit access rights.
                    </p>
                    <p>5. Implement input validation to ensure that user inputs match the expected format and type.</p>
                    {% endif %}
                    </p>
                    <hr>
                    <p><strong>Security Misconfiguration Prevention:</strong>
                        {% if 'Potential' in result_securityMisconfig %}
                    <p>For Apache: Add <code>ServerTokens Prod</code> and <code>ServerSignature Off</code> to your
                        configuration.</p>
                    <p>For Nginx: Use <code>server_tokens off;</code>.</p>
                    <p>Use a reverse proxy or a load balancer to remove or modify headers before they reach the client.
                    </p>
                    {% else %}
                    <p>No Recommendation Required 😊👍</p>
                    {% endif %}
                    </p>
                    <hr>
                    <p><strong>Security Headers Prevention:</strong>
                        {% if 'does not' in result_securityHeaders %}
                    <p>Implement the <strong>Strict-Transport-Security (HSTS)</strong> header to enforce secure
                        (HTTPS) connections to the server.</p>
                    <p>Add a <strong>Content-Security-Policy (CSP)</strong> header to mitigate cross-site scripting
                        (XSS) and other content injection attacks.</p>
                    <p>Regularly review and update your security headers to ensure they meet current security
                        standards and best practices.</p>
                    {% else %}
                    <p>No Recommendation Required 😊👍</p>
                    {% endif %}
                    </p>
                    <hr>
                    <p><strong>Open Redirects Prevention:</strong>
                        {% if 'not vulnerable' in result_OpenRedirect %}
                    <p>No Recommendation Required 😊👍</p>
                    {% else %}
                    <p>Always validate and sanitize input URLs to ensure they point to trusted and expected
                        destinations.</p>
                    <p>Implement a whitelist of trusted domains or use regular expressions to validate and restrict
                        the format of redirect URLs.</p>
                    <p>Avoid using user-provided input directly in the redirection process without proper validation
                        and sanitization.</p>
                    {% endif %}
                    </p>
                    <hr>
                    <p><strong>Cross Site Prevention:</strong>
                        {% if 'Potential' in result_crossSite %}
                          
                            <p>Encode output: Always encode user-generated content and dynamically generated HTML output using proper encoding techniques such as HTML escaping (e.g., `htmlspecialchars` in PHP, `escape` in JavaScript).</p>
                            <p>Validate and sanitize input: Implement strict input validation and sanitize user inputs by filtering out or neutralizing scripts and other potentially dangerous content.</p>
                            <p>Use HTTPOnly and Secure flags for cookies: Ensure that session cookies are set with the HTTPOnly and Secure flags to prevent them from being accessed via JavaScript and to restrict transmission to secure HTTPS connections.</p>
                            <p>Implement Content Security Policy (CSP): Define and enforce a policy to control what resources can be loaded on your website.</p>
                            <p>Educate developers: Promote awareness and training on secure coding practices to recognize and mitigate XSS vulnerabilities.</p>
                    {% else %}
                        <p>No Recommendation Required 😊👍</p>
                    {% endif %}                    
                    <hr>
                    <p><strong>API Endpoints Prevention:</strong>
                        {% if 'secure' in result_api %}
                    <p>No Recommendation Required 😊👍</p>
                    {% else %}
                    <p>Authentication and Authorization: Implement robust authentication mechanisms (like OAuth) and
                        enforce proper authorization to control access to API resources.</p>
                    <p>Input Validation: Validate and sanitize all input parameters and payloads received by API

                        {% endif %}
                    </p>
                    <hr>
                    <p><strong>TLS Prevention:</strong>
                        {% if 'secure' in result_tls %}
                    <p>No Recommendation Required 😊👍</p>
                    {% else %}
                    <p> Regularly update and renew SSL/TLS certificates to maintain security.</p>
                    <p> Use strong encryption algorithms and key lengths to secure data.</p>
                    <p> Implement HTTP Strict Transport Security (HSTS) to prevent downgrade attacks.</p> {% endif %}
                    </p>
                </div>
            </div>
            {% else %}
            <h1>No Recommendations</h1>
            {% endif %}
    </section>

    <script>
        document.getElementById('scanForm').addEventListener('submit', function () {
            document.getElementById('loading').style.display = 'block';
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>